* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: linear-gradient(90deg, #e5ecf0 0%, #f7fcff 100%);
}

.container,
.header__nav,
.footer__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header__nav,
.main__container,
.footer__container {
  padding: 0 1%;
}

.header {
  display: flex;
  align-items: center;
  max-height: 80px;
  padding: 30px 0;
  border-bottom: 1px solid #76cfaa;
  margin-bottom: 50px;
  flex: 1 0 auto;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links {
  list-style: none;
  position: relative;
}
.header__links:not(:hover):after {
  transform: scalex(0);
}
.header__links:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -3px;
  background: #76cfaa;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}

.header__link {
  color: #24396d;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: bold;
  transition: all 0.2s linear;
}

.header__link:hover {
  color: #76cfaa;
}

.promo {
  padding: 120px 70px;
  margin-bottom: 50px;
  background: #baf1da url(../img/flow.png) no-repeat bottom -145px right -145px;
  box-shadow: -8px -4px 19px #ffffff, 8px 4px 19px rgba(111, 135, 157, 0.5);
  border-radius: 25px;
  background-size: 770px;
}

.promo__title,
.products__title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;

  color: #101a3f;
}

.promo__subtitle {
  margin-top: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #101a3f;
}

.products__title {
  margin-bottom: 30px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  max-width: 650px;
  max-height: 450px;
  background: #ffffff;
  box-shadow: -8px -4px 18px rgba(255, 255, 255, 0.49),
    8px 4px 17px rgba(113, 122, 169, 0.47);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}

.card__info {
  padding: 20px 23px 35px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #101a3f;
}

.card__price {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #76cfaa;
}

.card__btn {
  text-decoration: none;
  padding: 15px 50px;
  background: #76cfaa;
  border-radius: 60px;
  overflow: hidden;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.card__btn:hover {
  transform: scale(1.04);
  background: #6fc6a2;
}

.footer {
  width: 100%;
  border-top: 1px solid #76cfaa;
  margin-top: 50px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 145px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
  color: #101a3f;
}

.footer__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #101a3f;
}

.footer__link {
  margin-right: 30px;
}

.footer__link:last-child {
  margin-right: 0;
}
